* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: Arial, Helvetica, sans-serif;
}

body {
	padding: 0 20px;
}

form input {
	padding: 10px;
	width: 300px;
	margin-bottom: 10px;
}

button {
	margin: 20px 0 20px 0;
	padding: 3px 6px;
	width: 80px;
}

.important {
	color: rgb(241, 31, 31);
}

.warning {
	font-size: 0.7em;
	color: rgb(241, 31, 31);
	margin-top: 15px;
}

.App {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.modal-container {
	background-color: #ddd;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
}

.form-container {
	background-color: #fff;
	padding: 30px;
	max-width: 90%;
}

.form-container h2 {
	margin-bottom: 10px;
	text-align: center;
}

.user-form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.user-form input {
	max-width: 100%;
}

.close-modal {
	position: absolute;
	top: 30px;
	right: 30px;
	color: #fff;
	cursor: pointer;
}

.user-list {
	padding: 20px;
	background-color: #ddd;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.user-list .user-card {
	list-style-type: none;
	padding: 20px;
	margin: 10px;
	background-color: #fff;
	min-width: 250px;
	width: 30%;
}

.buttons-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.buttons-container button {
	margin: 15px 0 0 0;
	padding: 3px 6px;
	width: 80px;
}
